examples/serial/input.json
[{
	"id": "8c973369.7368d",
	"type": "serial-port",
	"z": "b3ca7c94.4c358",
	"serialport": "/dev/cu.usbmodem271161",
	"serialbaud": "9600",
	"databits": "8",
	"parity": "none",
	"stopbits": "1",
	"newline": "0",
	"bin": "bin",
	"out": "time",
	"addchar": false
}, {
	"id": "ef6ff2f.f10901",
	"type": "serial in",
	"z": "b3ca7c94.4c358",
	"name": "",
	"serial": "8c973369.7368d",
	"x": 130,
	"y": 260,
	"wires": [
		["67753bab.988ac4"]
	]
}, {
	"id": "67753bab.988ac4",
	"type": "osc",
	"z": "b3ca7c94.4c358",
	"name": "",
	"path": "",
	"slip": true,
	"metadata": false,
	"x": 330,
	"y": 260,
	"wires": [
		["b66cfd5.f4993", "aaf7439b.5508c"]
	]
}, {
	"id": "b66cfd5.f4993",
	"type": "debug",
	"z": "b3ca7c94.4c358",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 490,
	"y": 260,
	"wires": []
}, {
	"id": "aaf7439b.5508c",
	"type": "debug",
	"z": "b3ca7c94.4c358",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "raw",
	"x": 480,
	"y": 300,
	"wires": []
}, {
	"id": "c9b526c7.364ad8",
	"type": "comment",
	"z": "b3ca7c94.4c358",
	"name": "Receiving a bundle over Serial with SLIP encoding",
	"info": "",
	"x": 210,
	"y": 200,
	"wires": []
}]