examples/serial/output.json
[{
	"id": "8c973369.7368d",
	"type": "serial-port",
	"z": "b3ca7c94.4c358",
	"serialport": "/dev/cu.usbmodem271161",
	"serialbaud": "9600",
	"databits": "8",
	"parity": "none",
	"stopbits": "1",
	"newline": "0",
	"bin": "bin",
	"out": "time",
	"addchar": false
}, {
	"id": "24847336.db7b8c",
	"type": "serial out",
	"z": "b3ca7c94.4c358",
	"name": "",
	"serial": "8c973369.7368d",
	"x": 700,
	"y": 100,
	"wires": []
}, {
	"id": "3faa5726.c055a8",
	"type": "inject",
	"z": "b3ca7c94.4c358",
	"name": "",
	"topic": "",
	"payload": "1",
	"payloadType": "num",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 90,
	"y": 100,
	"wires": [
		["5eb7428d.a148bc"]
	]
}, {
	"id": "6344c972.9cbb38",
	"type": "osc",
	"z": "b3ca7c94.4c358",
	"name": "",
	"path": "",
	"slip": true,
	"metadata": false,
	"x": 510,
	"y": 100,
	"wires": [
		["24847336.db7b8c"]
	]
}, {
	"id": "38d5b67e.c72a4a",
	"type": "inject",
	"z": "b3ca7c94.4c358",
	"name": "",
	"topic": "",
	"payload": "0",
	"payloadType": "num",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 90,
	"y": 140,
	"wires": [
		["5eb7428d.a148bc"]
	]
}, {
	"id": "5eb7428d.a148bc",
	"type": "template",
	"z": "b3ca7c94.4c358",
	"name": "Bundle",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "{\n    \"timeTag\": 0,\n    \"packets\": [\n        {\n            \"address\": \"/d/13\",\n            \"args\": {{payload}}\n        }\n    ]\n}",
	"x": 240,
	"y": 100,
	"wires": [
		["497daafc.b68254"]
	]
}, {
	"id": "497daafc.b68254",
	"type": "json",
	"z": "b3ca7c94.4c358",
	"name": "",
	"x": 370,
	"y": 100,
	"wires": [
		["6344c972.9cbb38"]
	]
}, {
	"id": "fb6a40be.0495c",
	"type": "comment",
	"z": "b3ca7c94.4c358",
	"name": "Sending a bundle over Serial with SLIP encoding",
	"info": "",
	"x": 200,
	"y": 40,
	"wires": []
}]