project/flows.json
[
    {
        "type": "tab",
        "id": "1735cab2.e8ca35",
        "label": "Flow 1"
    },
    {
        "id": "9d5476d8.62ab88",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "mode": "object",
        "x": 366.5,
        "y": 231,
        "wires": [
            [
                "32ce0b1a.cd31f4",
                "3f7a422c.c085be",
                "6f4751e2.90b8b"
            ]
        ]
    },
    {
        "id": "326e710.fcd919",
        "type": "udp in",
        "z": "1735cab2.e8ca35",
        "name": "",
        "iface": "",
        "port": "3000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 143.5,
        "y": 220,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "32ce0b1a.cd31f4",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 584.2143020629883,
        "y": 154.99999618530273,
        "wires": []
    },
    {
        "id": "b406f57c.4bf908",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "no topic",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 142.5,
        "y": 136,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "3f7a422c.c085be",
        "type": "udp out",
        "z": "1735cab2.e8ca35",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "3333",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 617.5,
        "y": 294,
        "wires": []
    },
    {
        "id": "e1cd080a.1e32f8",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with topic",
        "topic": "/timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 184,
        "y": 91,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "e14f7bd3.1eb088",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with invlidtopic",
        "topic": "22",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 191,
        "y": 44,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "6f4751e2.90b8b",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 565.7142944335938,
        "y": 207.1428680419922,
        "wires": []
    }
]