project/flows.json
[
    {
        "type": "tab",
        "id": "1735cab2.e8ca35",
        "label": "Tests"
    },
    {
        "type": "tab",
        "id": "5e5d4cea.a1a2b4",
        "label": "UDP"
    },
    {
        "type": "tab",
        "id": "b3ca7c94.4c358",
        "label": "SerialBundle"
    },
    {
        "type": "tab",
        "id": "1fee555b.e011ab",
        "label": "TCP"
    },
    {
        "id": "49025b8.fb6fda4",
        "type": "serial-port",
        "z": "1735cab2.e8ca35",
        "serialport": "/dev/cu.usbmodem271161",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "8c973369.7368d",
        "type": "serial-port",
        "z": "b3ca7c94.4c358",
        "serialport": "/dev/cu.usbmodem1488111",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "0",
        "bin": "bin",
        "out": "time",
        "addchar": false
    },
    {
        "id": "9d5476d8.62ab88",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": false,
        "metadata": false,
        "x": 419.5,
        "y": 91,
        "wires": [
            [
                "a97b7b29.568488",
                "e4ea6330.1b15a",
                "765f2fc4.89a0d"
            ]
        ]
    },
    {
        "id": "326e710.fcd919",
        "type": "udp in",
        "z": "1735cab2.e8ca35",
        "name": "",
        "iface": "",
        "port": "3000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "b406f57c.4bf908",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "no topic",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "e1cd080a.1e32f8",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with topic",
        "topic": "/timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "e14f7bd3.1eb088",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with invlidtopic",
        "topic": "22",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "a97b7b29.568488",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "Out1",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "202481ae.dfdb7e",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with topic",
        "topic": "/timestamp",
        "payload": "[1, 2, 3, 4, 5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 172,
        "y": 449,
        "wires": [
            [
                "2f742b6e.d08bd4"
            ]
        ]
    },
    {
        "id": "790a201.f86f5e",
        "type": "tcp out",
        "z": "1735cab2.e8ca35",
        "host": "localhost",
        "port": "4444",
        "beserver": "client",
        "base64": false,
        "end": false,
        "name": "",
        "x": 587.5,
        "y": 454,
        "wires": []
    },
    {
        "id": "2f742b6e.d08bd4",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 371.5,
        "y": 449,
        "wires": [
            [
                "790a201.f86f5e"
            ]
        ]
    },
    {
        "id": "e8557ec0.17aa8",
        "type": "tcp in",
        "z": "1735cab2.e8ca35",
        "name": "",
        "server": "server",
        "host": "",
        "port": "4444",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 141.5,
        "y": 543,
        "wires": [
            [
                "23fdb661.dc024a"
            ]
        ]
    },
    {
        "id": "23fdb661.dc024a",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 350,
        "y": 538,
        "wires": [
            [
                "7f9ba86a.806458"
            ]
        ]
    },
    {
        "id": "7f9ba86a.806458",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 493.5,
        "y": 540,
        "wires": []
    },
    {
        "id": "765f2fc4.89a0d",
        "type": "udp out",
        "z": "1735cab2.e8ca35",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "3333",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ec697d1.d13968",
        "type": "comment",
        "z": "1735cab2.e8ca35",
        "name": "Input test",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "e4ea6330.1b15a",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "Out1 Full",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "3039abf1.cfc654",
        "type": "inject",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "topic": "/timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "bf7a29be.4085d8"
            ]
        ]
    },
    {
        "id": "bf7a29be.4085d8",
        "type": "osc",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "path": "",
        "slip": false,
        "metadata": false,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "fcc1e2bd.033e2",
                "a22de8a7.5dd218"
            ]
        ]
    },
    {
        "id": "fcc1e2bd.033e2",
        "type": "udp out",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "3333",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "b28302c1.4d7d",
        "type": "comment",
        "z": "5e5d4cea.a1a2b4",
        "name": "Sending a timestamp on UDP port 3333",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "ac87efb2.53781",
        "type": "udp in",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "iface": "",
        "port": "3334",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 101,
        "y": 283,
        "wires": [
            [
                "791978f5.86e688"
            ]
        ]
    },
    {
        "id": "791978f5.86e688",
        "type": "osc",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "path": "",
        "slip": false,
        "metadata": false,
        "x": 271,
        "y": 283,
        "wires": [
            [
                "7b75be7c.848a4",
                "3c727f54.c38d8"
            ]
        ]
    },
    {
        "id": "7b75be7c.848a4",
        "type": "debug",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 451,
        "y": 283,
        "wires": []
    },
    {
        "id": "3c727f54.c38d8",
        "type": "debug",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "raw",
        "x": 441,
        "y": 343,
        "wires": []
    },
    {
        "id": "39bcbfa5.c6434",
        "type": "comment",
        "z": "5e5d4cea.a1a2b4",
        "name": "Receiving messages on UDP port 3334",
        "info": "",
        "x": 191,
        "y": 223,
        "wires": []
    },
    {
        "id": "24847336.db7b8c",
        "type": "serial out",
        "z": "b3ca7c94.4c358",
        "name": "",
        "serial": "8c973369.7368d",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "3faa5726.c055a8",
        "type": "inject",
        "z": "b3ca7c94.4c358",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "5eb7428d.a148bc"
            ]
        ]
    },
    {
        "id": "6344c972.9cbb38",
        "type": "osc",
        "z": "b3ca7c94.4c358",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "24847336.db7b8c"
            ]
        ]
    },
    {
        "id": "38d5b67e.c72a4a",
        "type": "inject",
        "z": "b3ca7c94.4c358",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "5eb7428d.a148bc"
            ]
        ]
    },
    {
        "id": "5eb7428d.a148bc",
        "type": "template",
        "z": "b3ca7c94.4c358",
        "name": "Bundle",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"timeTag\": 0,\n    \"packets\": [\n        {\n            \"address\": \"/d/13\",\n            \"args\": {{payload}}\n        }\n    ]\n}",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "497daafc.b68254"
            ]
        ]
    },
    {
        "id": "497daafc.b68254",
        "type": "json",
        "z": "b3ca7c94.4c358",
        "name": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "6344c972.9cbb38"
            ]
        ]
    },
    {
        "id": "fb6a40be.0495c",
        "type": "comment",
        "z": "b3ca7c94.4c358",
        "name": "Sending a bundle over Serial with SLIP encoding",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "ef6ff2f.f10901",
        "type": "serial in",
        "z": "b3ca7c94.4c358",
        "name": "",
        "serial": "8c973369.7368d",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "67753bab.988ac4"
            ]
        ]
    },
    {
        "id": "67753bab.988ac4",
        "type": "osc",
        "z": "b3ca7c94.4c358",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "b66cfd5.f4993",
                "aaf7439b.5508c"
            ]
        ]
    },
    {
        "id": "b66cfd5.f4993",
        "type": "debug",
        "z": "b3ca7c94.4c358",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "aaf7439b.5508c",
        "type": "debug",
        "z": "b3ca7c94.4c358",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "raw",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9b526c7.364ad8",
        "type": "comment",
        "z": "b3ca7c94.4c358",
        "name": "Receiving a bundle over Serial with SLIP encoding",
        "info": "",
        "x": 210,
        "y": 200,
        "wires": []
    },
    {
        "id": "c149a28b.3eb66",
        "type": "tcp out",
        "z": "1fee555b.e011ab",
        "host": "localhost",
        "port": "5555",
        "beserver": "client",
        "base64": false,
        "end": true,
        "name": "",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "cfc3e671.303c18",
        "type": "inject",
        "z": "1fee555b.e011ab",
        "name": "",
        "topic": "/timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "e36ddb5c.1c9228"
            ]
        ]
    },
    {
        "id": "e36ddb5c.1c9228",
        "type": "osc",
        "z": "1fee555b.e011ab",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "c149a28b.3eb66",
                "bbc6ca62.443938"
            ]
        ]
    },
    {
        "id": "bbc6ca62.443938",
        "type": "debug",
        "z": "1fee555b.e011ab",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "66936d1d.996c94",
        "type": "inject",
        "z": "1fee555b.e011ab",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "c149a28b.3eb66"
            ]
        ]
    },
    {
        "id": "b5b1fb79.4a4e08",
        "type": "inject",
        "z": "5e5d4cea.a1a2b4",
        "name": "Empty payload",
        "topic": "/deck/play",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 127.5,
        "y": 156,
        "wires": [
            [
                "bf7a29be.4085d8"
            ]
        ]
    },
    {
        "id": "a22de8a7.5dd218",
        "type": "osc",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "path": "",
        "slip": false,
        "metadata": true,
        "x": 481.5,
        "y": 180,
        "wires": [
            [
                "2b26718f.d4d98e"
            ]
        ]
    },
    {
        "id": "2b26718f.d4d98e",
        "type": "debug",
        "z": "5e5d4cea.a1a2b4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 636.5,
        "y": 180,
        "wires": []
    }
]