project/flows.json
[
    {
        "type": "tab",
        "id": "1735cab2.e8ca35",
        "label": "Flow 1"
    },
    {
        "id": "49025b8.fb6fda4",
        "type": "serial-port",
        "z": "1735cab2.e8ca35",
        "serialport": "/dev/cu.usbmodem271161",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "9d5476d8.62ab88",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": false,
        "metadata": false,
        "x": 419.5,
        "y": 91,
        "wires": [
            [
                "a97b7b29.568488",
                "e4ea6330.1b15a"
            ]
        ]
    },
    {
        "id": "326e710.fcd919",
        "type": "udp in",
        "z": "1735cab2.e8ca35",
        "name": "",
        "iface": "",
        "port": "3000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "32ce0b1a.cd31f4",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "Out2",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 538.2142944335938,
        "y": 325,
        "wires": []
    },
    {
        "id": "b406f57c.4bf908",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "no topic",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "e1cd080a.1e32f8",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with topic",
        "topic": "/timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "e14f7bd3.1eb088",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with invlidtopic",
        "topic": "22",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "9d5476d8.62ab88"
            ]
        ]
    },
    {
        "id": "a97b7b29.568488",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "Out1",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "202481ae.dfdb7e",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "timestamp with topic",
        "topic": "/timestamp",
        "payload": "[1, 2, 3, 4, 5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 172,
        "y": 449,
        "wires": [
            [
                "2f742b6e.d08bd4"
            ]
        ]
    },
    {
        "id": "790a201.f86f5e",
        "type": "tcp out",
        "z": "1735cab2.e8ca35",
        "host": "localhost",
        "port": "4444",
        "beserver": "client",
        "base64": false,
        "end": false,
        "name": "",
        "x": 587.5,
        "y": 454,
        "wires": []
    },
    {
        "id": "2f742b6e.d08bd4",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 371.5,
        "y": 449,
        "wires": [
            [
                "790a201.f86f5e"
            ]
        ]
    },
    {
        "id": "e8557ec0.17aa8",
        "type": "tcp in",
        "z": "1735cab2.e8ca35",
        "name": "",
        "server": "server",
        "host": "",
        "port": "4444",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 141.5,
        "y": 543,
        "wires": [
            [
                "23fdb661.dc024a"
            ]
        ]
    },
    {
        "id": "23fdb661.dc024a",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 350,
        "y": 538,
        "wires": [
            [
                "7f9ba86a.806458"
            ]
        ]
    },
    {
        "id": "7f9ba86a.806458",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 493.5,
        "y": 540,
        "wires": []
    },
    {
        "id": "a2a463d.f5d5ba",
        "type": "udp in",
        "z": "1735cab2.e8ca35",
        "name": "",
        "iface": "",
        "port": "8000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 136,
        "y": 349,
        "wires": [
            [
                "4bae6584.b4519c"
            ]
        ]
    },
    {
        "id": "4bae6584.b4519c",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": false,
        "x": 310.5,
        "y": 301,
        "wires": [
            [
                "32ce0b1a.cd31f4"
            ]
        ]
    },
    {
        "id": "765f2fc4.89a0d",
        "type": "udp out",
        "z": "1735cab2.e8ca35",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "3333",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 554.5,
        "y": 273,
        "wires": []
    },
    {
        "id": "4d9be2dc.b2641c",
        "type": "serial out",
        "z": "1735cab2.e8ca35",
        "name": "",
        "serial": "49025b8.fb6fda4",
        "x": 769.3750076293945,
        "y": 650.0000095367432,
        "wires": []
    },
    {
        "id": "38c0feb5.c73f02",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "95347c84.6acb8"
            ]
        ]
    },
    {
        "id": "8d5ae88f.72a518",
        "type": "osc",
        "z": "1735cab2.e8ca35",
        "name": "",
        "path": "",
        "slip": true,
        "metadata": false,
        "x": 435.625,
        "y": 640,
        "wires": [
            [
                "4d9be2dc.b2641c"
            ]
        ]
    },
    {
        "id": "6ee7c0d3.91184",
        "type": "inject",
        "z": "1735cab2.e8ca35",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "95347c84.6acb8"
            ]
        ]
    },
    {
        "id": "2ec697d1.d13968",
        "type": "comment",
        "z": "1735cab2.e8ca35",
        "name": "Input test",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "e4ea6330.1b15a",
        "type": "debug",
        "z": "1735cab2.e8ca35",
        "name": "Out1 Full",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "95347c84.6acb8",
        "type": "template",
        "z": "1735cab2.e8ca35",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"timeTag\": 1,\n    \"packets\": [\n        {\n            \"address\": \"/d/13\",\n            \"args\": {{payload}}\n        }\n    ]\n}",
        "x": 250,
        "y": 800,
        "wires": [
            [
                "43bca952.bc4358"
            ]
        ]
    },
    {
        "id": "43bca952.bc4358",
        "type": "json",
        "z": "1735cab2.e8ca35",
        "name": "",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "8d5ae88f.72a518"
            ]
        ]
    }
]