examples/udp/Output.json
[{"id":"3039abf1.cfc654","type":"inject","z":"5e5d4cea.a1a2b4","name":"","topic":"/timestamp","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["bf7a29be.4085d8"]]},{"id":"bf7a29be.4085d8","type":"osc","z":"5e5d4cea.a1a2b4","name":"","path":"","slip":false,"metadata":false,"x":270,"y":100,"wires":[["fcc1e2bd.033e2"]]},{"id":"fcc1e2bd.033e2","type":"udp out","z":"5e5d4cea.a1a2b4","name":"","addr":"127.0.0.1","iface":"","port":"3333","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":450,"y":100,"wires":[]},{"id":"b28302c1.4d7d","type":"comment","z":"5e5d4cea.a1a2b4","name":"Sending a timestamp on UDP port 3333","info":"","x":190,"y":40,"wires":[]}]
